/* @import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Kode Mono", monospace;
  scroll-behavior: smooth !important;
}

/* SCROLL BAR */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #1c1b22;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #01fd9c;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  opacity: 0.8;
}

/* APP */
.App {
  width: 100%;
  text-align: center;
  background: #1c1b22;
  color: #fff;
}

.App-header {
  position: fixed;
  width: 100%;
  z-index: 999;
}
.blurBox {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  padding-top: 16px;
}
.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  width: 80%;
  background: #21272f;
  list-style: none;
  margin: 0 auto;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

.nav-link {
  position: relative;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.underline {
  position: absolute;
  width: 0;
  height: 3px;
  background: #fff;
  bottom: -5px;
  left: 0;
  transition: all 0.2s ease-in-out;
  border-radius: 5px;
}
.nav-link:hover .underline {
  width: 80%;
}
.nav .active {
  color: #01fd9c;
}
.nav .active .underline {
  width: 80%;
  background-color: #01fd9c;
}

#top {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#top h1 {
  font-size: 80px;
  font-weight: 600;
  margin-bottom: 20px;
}
#top h4 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 40px;
}
.cv {
  padding: 20px 40px;
  border: 1px solid #01fd9c;
  color: #01fd9c;
  background-color: transparent;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  border-radius: 5px;
  font-weight: bold;
}
.cv:hover {
  background-color: #01fd9c;
  color: #21272f;

  /* lightning effect */
  /* box-shadow: 0 0 20px #01fd9c;  */
}

.line {
  width: 80%;
  margin: 10px auto;
  height: 2px;
  background-color: #01fd9c;
  margin-bottom: 50px;
}
/* Card Project*/
.cards {
  width: 80%;
  margin: 0 auto;
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
}
.card-project {
  background: #21272f;
  padding-bottom: 40px;
  border-radius: 5px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.card-project:hover {
  transform: scale(1.02);
}
.card-project__image img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}

.card-project__content {
  padding: 0 20px;
}
.card-project__title {
  padding: 20px;
  color: #01fd9c;
}
.card-project__skills {
  margin: 25px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
.card-project__skill {
  padding: 5px 15px;
  border: 1px solid #01fd9c;
  border-radius: 5px;
  color: #01fd9c;
}
.card-project__links a {
  color: #fff;
  text-decoration: none;
}
.card-project__links a i {
  font-size: 24px;
  padding: 0 20px;
  transition: all 0.2s ease-in-out;
}
.card-project__links a:hover {
  color: #01fd9c;
}
/* Experience */

.experience {
  width: 80%;
  margin: 0 auto;
  padding: 50px;
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
.experience .tab {
  width: 100%;
  padding: 16px 24px;
  border: 2px solid #01fd9c;
  color: #01fd9c;
  border-radius: 5px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.experience .tab:hover {
  box-shadow: 0 0 9px #01fd9c81;
}
.experience .active {
  background: #01fd9c;
  color: #21272f;
}
.experience .tab-content {
  background: #21272f;
  padding: 20px;
  border-radius: 5px;
  text-align: left;
  width: 75%;
}
.experience .tab-content h2 {
  color: #01fd9c;
  margin-bottom: 20px;
}
.experience .tab-content ul {
  list-style: none;
  padding-left: 10px;
}
.experience .tab-content li {
  margin-bottom: 10px;
}

/* Skills */

.skills {
  width: 80%;
  margin: 0 auto;
  padding: 50px;
}
.skill {
  display: inline-block;
  margin: 10px;
  padding: 20px 40px;
  background-color: #21272f;
  border: none;
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.4);
  color: #01fd9c;
  font-size: 16px;
  transition: all 0.1s ease-in-out;
  border-radius: 5px;
}
.skill:hover {
  transform: scale(1.05);
}

/* Contact */
.contact {
  width: 80%;
  margin: 0 auto;
  padding: 25px 50px;
}
.contact h1 {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 20px;
}
.contact-link {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.contact-link p {
  margin: 10px 20px;
  font-size: 24px;
  cursor: pointer;
}
.contact-link a {
  transition: all 0.2s ease-in-out;
}
.contact-link p:hover a {
  color: #01fd9c;
}
.contact-link p a {
  color: #fff;
}

/* form contact */
.formContact__group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  gap: 10px;
  text-align: left;
}
.formContact__group label {
  color: #01fd9c;
}
.formContact__group input,
.formContact__group textarea {
  padding: 10px;
  border: 2px solid #fff;
  border-radius: 5px;
  background: #21272f;
  color: #fff;
  outline: none;
}
.formContact__group input:focus,
.formContact__group textarea:focus {
  border: 2px solid #01fd9c;
}
.formContact button {
  padding: 10px 25px;
  border: none;
  background: #01fd9c;
  color: #21272f;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-size: 16px;
}
.formContact button:hover {
  box-shadow: 0 0 9px #01fd9c81;
}

/* Footer */
.footer {
  padding-top: 25px;
  padding-bottom: 60px;
}

/* Btn to top */
.btn-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #21272f;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.btn-to-top:hover {
  background: #01fd9c;
  transform: scale(1.1);
  color: #21272f;
}

@media only screen and (max-width: 600px) {
  .App-header {
    position: relative;
  }
  .blurBox {
    display: none;
  }
  .nav {
    height: 50px;
    width: 80%;
    margin: 0 auto 50px;
    box-shadow: none;
    background: #23283e;
  }

  .nav-link {
    font-size: 16px;
  }

  #top {
    padding-top: 50px;
    padding-bottom: 120px;
  }
  #top h1 {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  #top h4 {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 40px;
  }
  .cv {
    padding: 15px 25px;
    font-size: 14px;
  }

  .line {
    width: 80%;
    margin: 10px auto;
    height: 1px;
    background-color: #fff;
    margin-bottom: 50px;
  }
  /* Card Project*/
  .cards {
    width: 80%;
    margin: 0 auto;
    padding: 50px 0;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 50px;
  }
  .card-project {
    background: #21272f;
    padding-bottom: 40px;
    border-radius: 10px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.15);
  }
  .card-project__image img {
    width: 100%;
    height: auto;
  }
  .card-project__title {
    padding: 15px;
    font-size: 16px;
  }
  .card-project__description {
    padding: 0 15px;
    font-size: 14px;
  }
  .card-project__skills {
    margin: 20px 0;
  }
  .card-project__skill {
    padding: 0 10px;
    font-size: 14px;
  }
  .card-project__links a {
    color: #fff;
    text-decoration: none;
  }
  .card-project__links a i {
    font-size: 20px;
    padding: 0 15px;
  }

  /* About */

  .about {
    width: 80%;
    margin: 0 auto;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .about-left {
    padding-left: 0;
  }
  .about-right {
    padding: 0;
    font-size: 14px;
  }

  /* Skills */

  .skills {
    width: 80%;
    margin: 0 auto;
    padding: 50px 0;
  }
  .skill {
    display: inline-block;
    margin: 10px;
    padding: 15px 25px;
    background-color: #21272f;
    border: none;
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.4);
    color: #01fd9c;
    font-size: 14px;
  }

  /* Contact */
  .contact {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
  }
  .contact h1 {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  .contact-link {
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }

  .contact-link p {
    margin: 10px 20px;
    font-size: 20px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
  }
  .contact-link p:hover {
    font-size: 28px;
  }

  /* Footer */
  .footer {
    padding-top: 25px;
    padding-bottom: 60px;
    font-size: 14px;
  }
}
